GITHUB_APP_ID=2964378
GITHUB_PRIVATE_KEY_PATH=C:/Users/jahnavis/Downloads/git-doc-agent.2026-02-27.private-key.pem
GITHUB_INSTALLATION_ID=112854524
GITHUB_WEBHOOK_SECRET=950ef17c16dab3f948f54f9cedce59415710006b

OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=llama3.1:8b
EMBED_MODEL=nomic-embed-text
CHROMA_PATH=./chroma_db
DOCS_FOLDER=./generated_docs
